.App
  &__places
    margin-left: -24px

  &__places-item
    color: whitesmoke
    line-height: 24px
    margin-bottom: 10px

  &__value-wrapper
    display: flex
    align-items: center
    justify-content: space-between

  &__places-button
    background-color: transparent
    color: firebrick
    font-size: 16px
    border: none
    outline: none
    &:hover
      cursor: pointer
      color: red
    &:active
      outline: none
      position: relative
      top: 1px